<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>permitir a la app acceder a tu ubicacion para mostrarte los entrenadores cercanos a ti</string>
	<key>NSHealthShareUsageDescription</key>
	<string>WNH needs access to your health data to display your heart rate and workout information.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>WNH needs permission to save your workout data and heart rate information to HealthKit.</string>
	<key>NSCameraUsageDescription</key>
	<string>WNH needs camera access to scan your food and estimate calories using AI.</string>
</dict>
</plist>
